body {
  background-image: url(https://images.wallpaperscraft.com/image/space_background_blue_dots_73340_2300x1300.jpg);
  background-attachment: fixed;
  margin: 0;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  padding: 0;
  font-family: sans-serif;

color: #FFF;
/* background: #232323; */
text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
color: #FFF;
/* background: #232323; */
}
